/* PHOTO GRID */

@media screen and (min-width: 769px) {
  .photo-grid {
    max-width: 1184px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 213px;
    margin: 32px auto 92px;
    gap: 16px;
  }

  .photo-grid__item {
    width: 100%;
    height: 100%;
  }
}
